#%RAML 1.0
---
title: StraenWeb API
baseUri: http://straen-app.com/api/{version}
version: v1
/update_status:
    description:Used by the mobile application to update it's status.
    get:
    post:
/login_submit:
    description:Authenticates a username and password.
    get:
    post:
/create_login_submit:
    description:Creates a new account.
    get:
    post:
/login_status:
    description:Determines if a user session is open.
    get:
    post:
/logout:
    description:Terminates the current user's session.
    get:
    post:
/update_email:
    description:Updates the user's email address.
    get:
    post:
/update_password:
    description:Updates the user's password.
    get:
    post:
/delete_user:
    description:Removes the current user and all associated data.
    get:
    post:
/list_activities:
    description:Returns a list of JSON objects describing all of the user's activities.
    get:
    post:
/delete_activity:
    description:Removes the specified activity.
    get:
    post:
/add_activity:
    description:
    get:
    post:
/upload_activity_file:
    description:Creates a new activity from data within a file is received.
    get:
    post:
/add_tag_to_activity:
    description:Adds a tag to an activity.
    get:
    post:
/delete_tag_from_activity:
    description:Deletes a tqg from an activity.
    get:
    post:
/list_matched_users:
    description:
    get:
    post:
/list_users_following:
    description:Lists the users you are following.
    get:
    post:
/list_users_followed_by:
    description:Lists the users who are following you.
    get:
    post:
/request_to_follow:
    description:
    get:
    post:
/unfollow:
    description:
    get:
    post:
/export_activity:
    description:
    get:
    post:
/claim_device:
    description:
    get:
    post:
/create_tag:
    description:
    get:
    post:
/delete_tag:
    description:
    get:
    post:
/list_tags:
    description:
    get:
    post:
/create_comment:
    description:
    get:
    post:
/list_comments:
    description:
    get:
    post:
/create_gear:
    description:
    get:
    post:
/list_gear:
    description:
    get:
    post:
/update_gear:
    description:
    get:
    post:
/delete_gear:
    description:
    get:
    post:
/update_settings:
    description:
    get:
    post:
/update_profile:
    description:
    get:
    post:
/update_visibility:
    description:
    get:
    post:
/refresh_analysis:
    description:
    get:
    post:
/generate_workout_plan:
    description:
    get:
    post:
