#%RAML 1.0
---
title: StraenWeb
baseUri: http://straen-app.com/api/{version}
mediaType: application/json
version: v1
/update_status:
    description: Used by the mobile application to update it's status.
    get:
    post:
        responses:
            200:
            500:
/activity_track:
    description: Returns the activity track as a collection of JSON objects.
    get:
        responses:
            200:
            500:
    post:
/activity_metadata:
    description: Returns the activity metadata as a collection of JSON objects.
    get:
        responses:
            200:
            500:
    post:
/login:
    description: Authenticates a username and password.
    get:
    post:
        responses:
            200:
            401:
            500:
/create_login:
    description: Creates a new account.
    get:
    post:
        responses:
            200:
            400:
            401:
            500:
/login_status:
    description: Determines if the current user has a valid session token.
    get:
        responses:
            200:
            401:
            403:
    post:
/logout:
    description: Terminates the current user's session.
    get:
    post:
        responses:
            200:
            401:
            403:
/update_email:
    description: Updates the user's email address.
    get:
    post:
        responses:
            200:
            401:
            403:
            500:
/update_password:
    description: Updates the user's password.
    get:
    post:
        responses:
            200:
            401:
            403:
            500:
/delete_user:
    description: Removes the current user and all associated data.
    get:
    post:
        responses:
            200:
            401:
            403:
            500:
/list_activities:
    description: Returns a list of JSON objects describing all of the user's activities.
    get:
    post:
        responses:
            200:
            401:
            403:
            500:
/delete_activity:
    description: Removes the specified activity.
    get:
    post:
        responses:
            200:
            401:
            403:
            500:
/add_activity:
    description:
    get:
    post:
        responses:
            200:
            401:
            403:
            500:
/upload_activity_file:
    description: Creates a new activity from data contained with the appended file.
    get:
    post:
        responses:
            200:
            401:
            403:
            500:
/add_tag_to_activity:
    description: Adds a tag to an activity.
    get:
    post:
        responses:
            200:
            401:
            403:
            500:
/delete_tag_from_activity:
    description: Deletes a tqg from an activity.
    get:
    post:
        responses:
            200:
            401:
            403:
            500:
/list_matched_users:
    description:
    get:
    post:
        responses:
            200:
            401:
            403:
            500:
/list_users_following:
    description: Lists the users you are following.
    get:
    post:
        responses:
            200:
            401:
            403:
            500:
/list_users_followed_by:
    description: Lists the users who are following you.
    get:
    post:
        responses:
            200:
            401:
            403:
            500:
/request_to_follow:
    description: Sends a request to follow another user.
    get:
    post:
        responses:
            200:
            401:
            403:
            500:
/unfollow:
    description: Removes a user from the list of users being followed by the logged in user.
    get:
    post:
        responses:
            200:
            401:
            403:
            500:
/export_activity:
    description: Returns the activity in the specified format.
    get:
    post:
        responses:
            200:
            401:
            403:
            500:
/claim_device:
    description: Associates the device specified by the unique identifier with the logged in user's account.
    get:
    post:
        responses:
            200:
            500:
/create_tag:
    description: Creates a tag for the specified activity.
    get:
    post:
        responses:
            200:
            401:
            403:
            500:
/delete_tag:
    description: Deletes a tag from the specified activity.
    get:
    post:
        responses:
            200:
            401:
            403:
            500:
/list_tags:
    description: Lists the tags for the specified activity.
    get:
    post:
        responses:
            200:
            401:
            403:
            500:
/create_comment:
    description: Adds a comment to the specified activity.
    get:
    post:
        responses:
            200:
            401:
            403:
            500:
/list_comments:
    description: Lists comments for the specified activity.
    get:
    post:
        responses:
            200:
            401:
            403:
            500:
/create_gear:
    description:
    get:
    post:
        responses:
            200:
            401:
            403:
            500:
/list_gear:
    description: Lists gear associated with the current user.
    get:
    post:
        responses:
            200:
            401:
            403:
            500:
/update_gear:
    description:
    get:
    post:
        responses:
            200:
            401:
            403:
            500:
/delete_gear:
    description:
    get:
    post:
        responses:
            200:
            401:
            403:
            500:
/create_service_record:
    description:
    get:
    post:
        responses:
            200:
            401:
            403:
            500:
/delete_service_record:
    description:
    get:
    post:
        responses:
            200:
            401:
            403:
            500:
/add_gear_to_activity:
    description:
    get:
    post:
        responses:
            200:
            401:
            403:
            500:
/update_settings:
    description:
    get:
    post:
        responses:
            200:
            401:
            403:
            500:
/update_profile:
    description:
    get:
    post:
        responses:
            200:
            401:
            403:
            500:
/update_visibility:
    description:
    get:
    post:
        responses:
            200:
            401:
            403:
            500:
/refresh_analysis:
    description:
    get:
    post:
        responses:
            200:
            401:
            403:
            500:
/generate_workout_plan:
    description:
    get:
    post:
        responses:
            200:
            403:
/get_location_description:
    description:
    get:
        responses:
            200:
            403:
    post:
/activity_id_from_hash:
    description:
    get:
        responses:
            200:
            403:
    post:
/activity_hash_from_id:
    description:
    get:
        responses:
            200:
            403:
    post:
