[General]

# The RAML or OpenAPI file that describes the API.
API Description File = api.raml

# Start command
Start Command = 

# The root address of the website.
Target URL = http://192.168.1.152:8080

# A comma separated list of key=value pairs. Parameters with a key name will be substituted, ex: username=foo@bar.com
Substitutions = 

# A comma separated list of API functions to not use.
Ignored Functions = delete_user

# The number of test cases to run.
Num Test Cases = 10

[Scoring]

# Use code coverage
Use Code Coverage = false
