[Network]

# Host name on which users will access this website.
# When sitting behind a web server, this will typically be the domain name.
Host = 127.0.0.1

# Port on which users will access this website.
# When sitting behind a web server, this might be empty
Host Port = 8080

# Host name on which to bind.
# When sitting behind a web server, this will typically be 127.0.0.1.
Bind = 127.0.0.1

# The port we will actually bind to.
Bind Port = 8080

# Number of WSGI servers.
# Additional servers will be created with a bind port of one more than the previous, i.e. 8080, 8081, 8082, etc.
Num Servers = 1

[Maps]

# Google Maps API key. If a key is not provided, Open Street Map will be used instead.
Google Maps Key =

[Crypto]

# Set this if the app as https.
# Any URLs we generate will start with https
HTTPS = False

# Certificate file for https. (cherrypy, only if the webserver isn't handling it for us)
Certificate File =

# Certificate file for https. (cherrypy, only if the webserver isn't handling it for us)
Private Key File =

[Photos]

# Directory in which photos will be stored.
Directory = 

# Maximum file size to allow, in bytes.
Max File Size = 16777216

[Import]

# Maximum file size to allow, in bytes.
Max File Size = 16777216

[Database]

# Location of the database.
Database URL = localhost:27017

[Celery]

# Celery broker URL.
Broker URL = amqp://user:pass@localhost/myvhost

[General]

# Can be error, warning, info, or debug.
Log Level = warning

# Prevents the app from going into the background.
Debug = True

# Enables application profiling.
Profile = False

# Disables the ability to create a new login; for testing, for example.
Disable Login Creation = True
