[Network]

# Host name on which users will access this website.
Host = 192.168.1.100

# Port on which users will access this website.
Host Port = 8080

# Host name on which to bind. (cherrypy only)
Bind = 192.168.1.100

# Port on which users will access this website. (cherrypy only)
Bind Port = 8080

[Maps]

# Google Maps API key. If not is provided, Open Street Map will be used instead.
Google Maps Key =

[Crypto]

# Runs the app as HTTPS.
HTTPS = False

# Certificate file for HTTPS. (cherrypy only)
Certificate File =

# Private Key file for HTTPS. (cherrypy only)
Private Key File =

[Photos]

# Directory in which photos will be stored.
Directory = 

[General]

# Prevents the app from going into the background.
Debug = True

# Enables application profiling.
Profile = False
