[Network]

# Host name on which users will access this website.
Host =

# Port on which users will access this website.
Host Port = 5000

# Host name on which to bind. (cherrypy only)
Bind =

# Port on which users will access this website. (cherrypy only)
Bind Port =

[Maps]

# Google Maps API key. If not is provided, Open Street Map will be used instead.
Google Maps Key =

[Crypto]

# Runs the app as HTTPS.
HTTPS = True

# Certificate file for HTTPS. (cherrypy only)
Certificate =

# Private Key file for HTTPS. (cherrypy only)
Priv Key =

[General]

# Prevents the app from going into the background.
Debug = False

# Enables application profiling.
Profile = False
